html, body {
  margin: 0;
  padding: 0;
}

.main {
  width: 920px;
  margin: auto;
}

.cat_pics {
  width: 100%;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.cat_pic {
  width: 50%;
  height: 300px;
}

img {
  width: 100%;
  height: auto;
}
